## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
# Your code here

sample_list_1 = random.sample(range(0, 100), 80)

print(sample_list_1)

[83, 53, 57, 66, 47, 93, 2, 49, 1, 72, 91, 5, 88, 4, 95, 96, 79, 40, 15, 81, 6, 52, 9, 60, 45, 30, 75, 64, 77, 84, 69, 70, 19, 27, 87, 25, 41, 74, 13, 56, 33, 16, 20, 31, 94, 18, 8, 80, 14, 97, 43, 28, 35, 78, 85, 58, 22, 63, 71, 39, 44, 21, 29, 12, 38, 82, 10, 89, 24, 23, 26, 99, 65, 61, 67, 90, 34, 51, 11, 54]

In [3]:
type(sample_list_1)

list

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [8]:
# Your code here

set1 = set(sample_list_1)
print(set1)

{1, 2, 4, 5, 6, 8, 9, 10, 11, 12, 13, 14, 15, 16, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 33, 34, 35, 38, 39, 40, 41, 43, 44, 45, 47, 49, 51, 52, 53, 54, 56, 57, 58, 60, 61, 63, 64, 65, 66, 67, 69, 70, 71, 72, 74, 75, 77, 78, 79, 80, 81, 82, 83, 84, 85, 87, 88, 89, 90, 91, 93, 94, 95, 96, 97, 99}

In [6]:
type(set1)

set

In [7]:
len(set1) 
# its length still 80 because every random number is unique

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [9]:
# Your code here

sample_list_2 = [random.randint(1,100) for num in range(80)]
print (sample_list_2)

[10, 75, 16, 66, 76, 74, 44, 15, 26, 21, 54, 19, 70, 93, 35, 95, 39, 57, 64, 27, 96, 9, 75, 71, 10, 71, 32, 10, 15, 27, 44, 11, 22, 100, 32, 80, 23, 32, 91, 69, 43, 26, 66, 62, 47, 85, 42, 39, 100, 73, 9, 42, 90, 73, 25, 11, 95, 52, 67, 4, 86, 35, 38, 45, 56, 82, 62, 79, 10, 44, 31, 86, 95, 83, 56, 54, 96, 21, 47, 96]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [10]:
# Your code here
set2= set(sample_list_2)
print(set2)

{4, 9, 10, 11, 15, 16, 19, 21, 22, 23, 25, 26, 27, 31, 32, 35, 38, 39, 42, 43, 44, 45, 47, 52, 54, 56, 57, 62, 64, 66, 67, 69, 70, 71, 73, 74, 75, 76, 79, 80, 82, 83, 85, 86, 90, 91, 93, 95, 96, 100}

In [11]:
len(set2) 
# the lenght is less than 80 because there are repeated values.

50

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [12]:
# Your code here

set3 = set1 - set2
print(set3)

{1, 2, 5, 6, 8, 12, 13, 14, 18, 20, 24, 28, 29, 30, 33, 34, 40, 41, 49, 51, 53, 58, 60, 61, 63, 65, 72, 77, 78, 81, 84, 87, 88, 89, 94, 97, 99}

In [13]:
len(set3)

37

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [14]:
# Your code here

set4 = set2 - set1
print(set4)

{32, 100, 73, 42, 76, 86, 62}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [15]:
# Your code here

set5 = set1.intersection(set2)
print(set5)

{4, 9, 10, 11, 15, 16, 19, 21, 22, 23, 25, 26, 27, 31, 35, 38, 39, 43, 44, 45, 47, 52, 54, 56, 57, 64, 66, 67, 69, 70, 71, 74, 75, 79, 80, 82, 83, 85, 90, 91, 93, 95, 96}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [20]:
# Your code here

print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

80
50
37
7
43

#### Create an empty set called `set6`.

In [21]:
# Your code here

set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [22]:
# Your code here

set6.update(set3, set5)

print(set6)

{1, 2, 4, 5, 6, 8, 9, 10, 11, 12, 13, 14, 15, 16, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 33, 34, 35, 38, 39, 40, 41, 43, 44, 45, 47, 49, 51, 52, 53, 54, 56, 57, 58, 60, 61, 63, 64, 65, 66, 67, 69, 70, 71, 72, 74, 75, 77, 78, 79, 80, 81, 82, 83, 84, 85, 87, 88, 89, 90, 91, 93, 94, 95, 96, 97, 99}

#### Check if `set1` and `set6` are equal.

In [23]:
# Your code here

print(set1 == set6)

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [24]:
# Your code here

set2.issubset(set1)

False

In [25]:
set3.issubset(set1)

True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [26]:
# Your code here

set3.union(set4, set5)

{1,
 2,
 4,
 5,
 6,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 47,
 49,
 51,
 52,
 53,
 54,
 56,
 57,
 58,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 93,
 94,
 95,
 96,
 97,
 99,
 100}

#### Using the `pop` method, remove the first element from `set1`.

In [27]:
# Your code here

set1.pop(0) 
# pop method removes the last element in a set
# and due to a set being unordered it cannot take one element in particular

# remove method can work by indicating the number that we want to remove, in this case number 0, it can be set1.remove(0)

TypeError: set.pop() takes no arguments (1 given)

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [28]:
# Your code here

list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

In [29]:
set1.difference_update(list_to_remove)

print(set1)

{2, 4, 5, 6, 8, 10, 12, 13, 14, 15, 16, 18, 20, 22, 23, 24, 25, 26, 27, 28, 30, 33, 34, 35, 38, 40, 43, 44, 45, 47, 52, 53, 54, 56, 57, 58, 60, 63, 64, 65, 66, 67, 70, 72, 74, 75, 77, 78, 80, 82, 83, 84, 85, 87, 88, 90, 93, 94, 95, 96, 97}