## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [13]:
list_hundred=list(range(101))
print(list_hundred)
sample_list_1=random.sample(list_hundred, k=80)
print(sample_list_1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
[65, 16, 37, 39, 63, 71, 58, 43, 92, 21, 19, 55, 7, 69, 0, 85, 17, 30, 98, 3, 1, 100, 56, 99, 45, 4, 20, 87, 53, 84, 73, 70, 52, 76, 46, 80, 81, 34, 97, 14, 28, 96, 93, 40, 2, 26, 18, 51, 91, 78, 10, 13, 5, 48, 60, 67, 77, 22, 68, 12, 6, 66, 54, 88, 47, 8, 59, 24, 82, 50, 29, 72, 74, 94, 15, 57, 44, 79, 33, 23]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [14]:
set1=set(sample_list_1)
print(set1)
len(set1)
print(len(set1))
#yes

{0, 1, 2, 3, 4, 5, 6, 7, 8, 10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 26, 28, 29, 30, 33, 34, 37, 39, 40, 43, 44, 45, 46, 47, 48, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 63, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 76, 77, 78, 79, 80, 81, 82, 84, 85, 87, 88, 91, 92, 93, 94, 96, 97, 98, 99, 100}
80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [15]:
sample_list_2=[random.randint(0,101) for i in range(80)]
print(sample_list_2)

[43, 51, 34, 40, 13, 35, 29, 96, 86, 74, 42, 55, 29, 2, 63, 27, 0, 101, 76, 52, 100, 57, 79, 9, 61, 93, 30, 89, 29, 31, 48, 54, 32, 62, 62, 96, 22, 52, 60, 66, 18, 4, 68, 15, 52, 84, 10, 3, 50, 15, 37, 21, 19, 25, 66, 29, 3, 73, 46, 63, 60, 27, 18, 76, 37, 71, 87, 68, 56, 73, 0, 73, 13, 28, 61, 25, 90, 74, 94, 60]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [16]:
set2=set(sample_list_2)
print(set2)
len(set2)
print(len(set2))
#no

{0, 2, 3, 4, 9, 10, 13, 15, 18, 19, 21, 22, 25, 27, 28, 29, 30, 31, 32, 34, 35, 37, 40, 42, 43, 46, 48, 50, 51, 52, 54, 55, 56, 57, 60, 61, 62, 63, 66, 68, 71, 73, 74, 76, 79, 84, 86, 87, 89, 90, 93, 94, 96, 100, 101}
55

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [17]:
set3=set1.difference(set2)
set3
print(set3)
len(set3)
print(len(set3))

{1, 5, 6, 7, 8, 12, 14, 16, 17, 20, 23, 24, 26, 33, 39, 44, 45, 47, 53, 58, 59, 65, 67, 69, 70, 72, 77, 78, 80, 81, 82, 85, 88, 91, 92, 97, 98, 99}
38

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [18]:
set4=set2.difference(set1)
print(set4)
print(len(set4))

{32, 89, 35, 101, 9, 42, 86, 25, 90, 27, 61, 62, 31}
13

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [19]:
set5=set1.intersection(set2)
print(set5)
print(len(set5))

{0, 2, 3, 4, 10, 13, 15, 18, 19, 21, 22, 28, 29, 30, 34, 37, 40, 43, 46, 48, 50, 51, 52, 54, 55, 56, 57, 60, 63, 66, 68, 71, 73, 74, 76, 79, 84, 87, 93, 94, 96, 100}
42

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [20]:
#len(set1+set2)-len(set3+set4)=lenset5
set_1and2=set1.union(set2)
set_3and4=set3.union(set4)
set5_calculation=set_1and2-set_3and4
print(len(set5_calculation))

42

#### Create an empty set called `set6`.

In [21]:
set6=set()
print(set6)

set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [24]:
set6.update(set3,set5)
print(set6)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 26, 28, 29, 30, 33, 34, 37, 39, 40, 43, 44, 45, 46, 47, 48, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 63, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 76, 77, 78, 79, 80, 81, 82, 84, 85, 87, 88, 91, 92, 93, 94, 96, 97, 98, 99, 100}

#### Check if `set1` and `set6` are equal.

In [25]:
if set1 == set6:
    print("set1 and set6 are the same")

set1 and set6 are the same

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [26]:
print(set2.issubset(set1))
#set1 does not contain set2
print(set3.issubset(set1))
#ser1 contains set2

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [27]:
set3.union(set4,set5)
set1.union(set2)
if set3.union(set4,set5) == set1.union(set2):
    print('Both unions are the same')

Both unions are the same

#### Using the `pop` method, remove the first element from `set1`.

In [28]:
set1.pop()
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 26, 28, 29, 30, 33, 34, 37, 39, 40, 43, 44, 45, 46, 47, 48, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 63, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 76, 77, 78, 79, 80, 81, 82, 84, 85, 87, 88, 91, 92, 93, 94, 96, 97, 98, 99, 100}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [31]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
remaining=set()
for i in set1:
    if i not in list_to_remove:
        remaining.add(i)

print(remaining)

{2, 3, 4, 5, 6, 7, 8, 10, 12, 13, 14, 15, 16, 17, 18, 20, 22, 23, 24, 26, 28, 30, 33, 34, 37, 40, 43, 44, 45, 46, 47, 48, 50, 52, 53, 54, 55, 56, 57, 58, 60, 63, 65, 66, 67, 68, 70, 72, 73, 74, 76, 77, 78, 80, 82, 84, 85, 87, 88, 92, 93, 94, 96, 97, 98, 100}