## Challenge 1: Tuples

#### Do you know you can create tuples with only one element?

**In the cell below, define a variable `tup` with a single element `"I"`.**

*Hint: you need to add a comma (`,`) after the single element.*

In [1]:
tup=("I",)
print(tup)

('I',)

#### Print the type of `tup`. 

Make sure its type is correct (i.e. *tuple* instead of *str*).

In [5]:
type(tup)
print(type(tup))
id(tup)

<class 'tuple'>

2008406563184

#### Now try to append the following elements to `tup`. 

Are you able to do it? Explain.

```
"r", "o", "n", "h", "a", "c", "k',
```

In [6]:
letras=("r", "o", "n", "h", "a", "c", "k")
tup+letras
#las tuplas son inmutables, sin embargo, estoy generando una nueva tupla (Id son diferentes)

('I', 'r', 'o', 'n', 'h', 'a', 'c', 'k')

#### How about re-assign a new value to an existing tuple?

Re-assign the following elements to `tup`. Are you able to do it? Explain.

```
"I", "r", "o", "n", "h", "a", "c", "k"
```

In [7]:
tup+=letras
print(tup)
id(tup)
#las tuplas son inmutables, sin embargo, estoy generando una nueva tupla (Id son diferentes)

('I', 'r', 'o', 'n', 'h', 'a', 'c', 'k')

2008406241168

#### Split `tup` into `tup1` and `tup2` with 4 elements in each. 

`tup1` should be `("I", "r", "o", "n")` and `tup2` should be `("h", "a", "c", "k")`.

*Hint: use positive index numbers for `tup1` assignment and use negative index numbers for `tup2` assignment. Positive index numbers count from the beginning whereas negative index numbers count from the end of the sequence.*

Also print `tup1` and `tup2`.

In [8]:
tup1=tup[0:4]
print(tup1)
tup2=tup[4:8]
print(tup2)

('I', 'r', 'o', 'n')
('h', 'a', 'c', 'k')

#### Add `tup1` and `tup2` into `tup3` using the `+` operator.

Then print `tup3` and check if `tup3` equals to `tup`.

In [9]:
tup3=tup1+tup2
print(tup3)

('I', 'r', 'o', 'n', 'h', 'a', 'c', 'k')

#### Count the number of elements in `tup1` and `tup2`. Then add the two counts together and check if the sum is the same as the number of elements in `tup3`

In [13]:
len(tup1)
print(len(tup1))
len(tup2)
print(len(tup2))
len(tup3)
print(len(tup3))
len(tup1)+len(tup2)
print(len(tup1)+len(tup2))

4
4
8
8

#### What is the index number of `"h"` in `tup3`?

In [14]:
index_h=tup3.index('h')
index_h

4

#### Now, use a FOR loop to check whether each letter in the following list is present in `tup3`:

```
letters = ["a", "b", "c", "d", "e"]
```

For each letter you check, print `True` if it is present in `tup3` otherwise print `False`.

*Hint: you only need to loop `letters`. You don't need to loop `tup3` because there is a Python operator `in` you can use. See [reference](https://stackoverflow.com/questions/17920147/how-to-check-if-a-tuple-contains-an-element-in-python).*

In [15]:
letters = ["a", "b", "c", "d", "e"]
for i in letters:
    if i in tup3:
        print(f'Letter {i} is "True"')
    else:
        print(f'Letter {i} is "False"')

Letter a is "True"
Letter b is "False"
Letter c is "True"
Letter d is "False"
Letter e is "False"

#### How many times does each letter in `letters` appear in `tup3`?

Print out the number of occurrence of each letter.

In [16]:
for i in letters:
    if i in tup3:
        tup3.count(i)
        print(f'Letter {i} appears {tup3.count(i)} time')
    else:
        print(f'Letter {i} is not in tup3')

Letter a appears 1 time
Letter b is not in tup3
Letter c appears 1 time
Letter d is not in tup3
Letter e is not in tup3