## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
sample_list_1 = []
sample_list_1 = [random.sample([x for x in range(0,101)],80)]
sample_list_1 = sample_list_1[0]
print(sample_list_1)

[19, 3, 48, 72, 30, 16, 32, 9, 38, 17, 27, 59, 84, 70, 8, 1, 41, 67, 25, 0, 94, 78, 89, 87, 23, 55, 7, 26, 57, 86, 28, 81, 11, 80, 5, 45, 92, 64, 61, 22, 97, 76, 31, 99, 74, 85, 10, 6, 77, 93, 63, 21, 65, 73, 95, 36, 53, 13, 39, 15, 52, 18, 75, 20, 100, 14, 50, 40, 98, 54, 66, 60, 79, 69, 83, 56, 62, 29, 49, 24]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
set1 = set(sample_list_1)
print(len(set1))

#La longitud de set1 sigue siendo 80

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [6]:
sample_list_2 = [random.randrange(1,101,1) for i in range (80)]
print(sample_list_2)

[10, 56, 22, 58, 59, 53, 60, 17, 35, 56, 51, 99, 69, 52, 71, 24, 17, 56, 69, 47, 72, 9, 28, 4, 57, 37, 77, 22, 65, 34, 93, 49, 74, 34, 1, 76, 18, 51, 14, 44, 83, 75, 38, 85, 39, 52, 8, 8, 94, 80, 60, 96, 18, 74, 50, 18, 54, 64, 47, 76, 20, 64, 87, 48, 90, 33, 73, 52, 1, 32, 48, 68, 5, 58, 45, 13, 60, 25, 8, 49]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [8]:
set2 = set(sample_list_2)
print(len(set2))

#Al generar una lista con números que se pueden repetir, no necesariamente serán 80 elementos al convertir la lista en set. Esto se debe a que en un set no se repiten elementos, solo considera elementos únicos.

57

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [9]:
set3 = set1-set2
print(set3)

{0, 3, 6, 7, 11, 15, 16, 19, 21, 23, 26, 27, 29, 30, 31, 36, 40, 41, 55, 61, 62, 63, 66, 67, 70, 78, 79, 81, 84, 86, 89, 92, 95, 97, 98, 100}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [10]:
set4 = set2-set1
print(set4)

{96, 33, 34, 35, 4, 37, 68, 71, 90, 44, 47, 51, 58}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [11]:
set5 = set1.intersection(set2)
print(set5)

{1, 5, 8, 9, 10, 13, 14, 17, 18, 20, 22, 24, 25, 28, 32, 38, 39, 45, 48, 49, 50, 52, 53, 54, 56, 57, 59, 60, 64, 65, 69, 72, 73, 74, 75, 76, 77, 80, 83, 85, 87, 93, 94, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [14]:
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

#El set 1 debe ser de 80 porque son elementos únicos
#El set 2 debe ser menor o igual a 80 porque la lista de donde se generó permitía elementos repetidos.
#El set 3 debe contenter los elementos del set1 que no están en el set2, por lo que este número deberá ser a lo mucho la diferencia que haya entre 100 y la longitud del set 2
#El set 4 debe contenter los elementos del set2 que no están en el set1, por lo que este número deberá ser a lo mucho la diferencia que haya entre 100 y la longitud del set 1. Debiera ser menor que la longitud del set3.
#El set 5 debe ser como máximo de la longitud del set2.

80
57
36
13
44

#### Create an empty set called `set6`.

In [15]:
set6 = {}

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [16]:
set6 = {}
set6 = set(set6)
set6.update(set3)
print(set6)
set6.update(set5)
print(set6)

{0, 3, 6, 7, 11, 15, 16, 19, 21, 23, 26, 27, 29, 30, 31, 36, 40, 41, 55, 61, 62, 63, 66, 67, 70, 78, 79, 81, 84, 86, 89, 92, 95, 97, 98, 100}
{0, 1, 3, 5, 6, 7, 8, 9, 10, 11, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 36, 38, 39, 40, 41, 45, 48, 49, 50, 52, 53, 54, 55, 56, 57, 59, 60, 61, 62, 63, 64, 65, 66, 67, 69, 70, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 83, 84, 85, 86, 87, 89, 92, 93, 94, 95, 97, 98, 99, 100}

#### Check if `set1` and `set6` are equal.

In [17]:
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [20]:
print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [21]:
set3.union(set4).union(set5) == set1.union(set2)

True

#### Using the `pop` method, remove the first element from `set1`.

In [ ]:
set1.pop()

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [22]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for i in list_to_remove:
    if i in set1:
        set1.remove(i)
        
print(set1)

{0, 3, 5, 6, 7, 8, 10, 13, 14, 15, 16, 17, 18, 20, 22, 23, 24, 25, 26, 27, 28, 30, 32, 36, 38, 40, 45, 48, 50, 52, 53, 54, 55, 56, 57, 60, 62, 63, 64, 65, 66, 67, 70, 72, 73, 74, 75, 76, 77, 78, 80, 83, 84, 85, 86, 87, 92, 93, 94, 95, 97, 98, 100}