## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [ ]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [21]:
import random
# Your code here
a = []
sample_list_1 = random.sample(range(1,100), k=80)

print(sample_list_1)

[48, 45, 79, 64, 71, 35, 36, 41, 62, 59, 99, 67, 38, 9, 92, 82, 75, 42, 70, 91, 43, 73, 1, 72, 49, 23, 8, 80, 15, 47, 93, 39, 29, 26, 11, 60, 2, 85, 22, 12, 97, 84, 6, 55, 28, 19, 46, 25, 4, 77, 53, 37, 56, 94, 51, 95, 57, 89, 40, 3, 96, 21, 63, 33, 30, 24, 31, 65, 78, 44, 98, 7, 86, 68, 66, 87, 52, 58, 27, 13]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [23]:
# Your code here
set1 = set(sample_list_1)
print(len(set1))
print('si')

80
si

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [29]:
# Your code here
sample_list_2 = []
a = 0
while a < 80 :
    sample_list_2.append(random.choice(range(0,100)))
    a += 1
    
    

print(sample_list_2)

80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [32]:
# Your code here
set2 = set(sample_list_2)
print(len(set2))
print('no, porque elimina los repetidos')

52
no, porque elimina los repetidos

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [35]:
# Your code here
set3 = []

for i in set1:
    if i not in set2 :
        set3.append(i)
set3 = set(set3)        
print(set3)

{1, 2, 3, 4, 9, 11, 12, 13, 19, 22, 24, 29, 30, 31, 35, 36, 37, 39, 46, 47, 48, 49, 51, 52, 60, 63, 67, 70, 72, 73, 75, 77, 80, 82, 86, 89, 97, 98}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [36]:
# Your code here
set4 = []

for i in set2:
    if i not in set1 :
        set4.append(i)
set3 = set(set4)        
print(set4)

[10, 16, 17, 18, 54, 69, 74, 81, 83, 88]

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [37]:
# Your code here
set5 = []

for i in set1:
    if i in set2 :
        set5.append(i)
set5 = set(set5)        
print(set5)

{6, 7, 8, 15, 21, 23, 25, 26, 27, 28, 33, 38, 40, 41, 42, 43, 44, 45, 53, 55, 56, 57, 58, 59, 62, 64, 65, 66, 68, 71, 78, 79, 84, 85, 87, 91, 92, 93, 94, 95, 96, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [42]:
# Your code here

print(len(set1),len(set2),len(set3),len(set4),len(set5))

80 52 10 10 42

#### Create an empty set called `set6`.

In [43]:
# Your code here
set6 = set({})

<class 'set'>

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [45]:
# Your code here
set6.update(set3)
set6.update(set5)
print(set6)

{6, 7, 8, 10, 15, 16, 17, 18, 21, 23, 25, 26, 27, 28, 33, 38, 40, 41, 42, 43, 44, 45, 53, 54, 55, 56, 57, 58, 59, 62, 64, 65, 66, 68, 69, 71, 74, 78, 79, 81, 83, 84, 85, 87, 88, 91, 92, 93, 94, 95, 96, 99}

#### Check if `set1` and `set6` are equal.

In [46]:
# Your code here
if set1 == set6:
    print('son iguales')

else :
    print('distintos')

distintos

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [48]:
# Your code here
z = set2.issubset(set1)

if z == True :
    print('lo contiene')
else : print('no lo contiene')
    
q = set3.issubset(set1)

if q == True :
    print('lo contiene')
else : print('no lo contiene')

no lo contiene
no lo contiene

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [49]:
# Your code here
set3.union(set4)
set3.union(set5)

set1.union(set2)

print(set1, set3)

{1, 2, 3, 4, 6, 7, 8, 9, 11, 12, 13, 15, 19, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 33, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 51, 52, 53, 55, 56, 57, 58, 59, 60, 62, 63, 64, 65, 66, 67, 68, 70, 71, 72, 73, 75, 77, 78, 79, 80, 82, 84, 85, 86, 87, 89, 91, 92, 93, 94, 95, 96, 97, 98, 99} {69, 10, 74, 16, 17, 18, 81, 83, 54, 88}

#### Using the `pop` method, remove the first element from `set1`.

In [ ]:
# Your code here
set1.pop()

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [52]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
# Your code here
for i in list_to_remove:
    if i in set1:
        set1.remove(i)
print(set1)

{2, 3, 4, 6, 7, 8, 12, 13, 15, 22, 23, 24, 25, 26, 27, 28, 30, 33, 35, 36, 37, 38, 40, 42, 43, 44, 45, 46, 47, 48, 52, 53, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 67, 68, 70, 72, 73, 75, 77, 78, 80, 82, 84, 85, 86, 87, 92, 93, 94, 95, 96, 97, 98}