## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [117]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [118]:
# Your code here
sample_list_1=[]

for i in range(80):
    sample_list_1.append(random.randint(0,100))

print(sample_list_1)

[81, 35, 32, 3, 17, 62, 69, 12, 90, 53, 7, 39, 36, 90, 50, 81, 27, 67, 24, 57, 16, 63, 87, 21, 11, 30, 98, 22, 18, 90, 66, 33, 93, 24, 55, 97, 64, 84, 48, 11, 27, 36, 53, 16, 69, 72, 60, 87, 100, 26, 10, 16, 50, 59, 80, 81, 51, 3, 42, 38, 38, 84, 24, 45, 35, 85, 77, 38, 57, 45, 36, 39, 9, 73, 70, 63, 86, 93, 14, 87]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [119]:
# Your code here
sample_set_1 = {}
sample_set_1 = set(sample_list_1)

print('la lista tiene:',len(sample_list_1))
print('el set tiene:',len(sample_set_1))

la lista tiene: 80
el set tiene: 53

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [120]:
# Your code here
sample_list_2=[]

for i in range(80):
    sample_list_2.append(random.randint(0,100))

print(sample_list_2)

[31, 24, 72, 59, 20, 19, 44, 90, 33, 24, 80, 27, 32, 54, 94, 66, 86, 14, 38, 52, 22, 8, 57, 44, 12, 77, 74, 92, 96, 47, 24, 99, 92, 92, 87, 56, 13, 30, 6, 68, 19, 65, 14, 45, 99, 3, 68, 85, 35, 48, 36, 17, 33, 14, 100, 78, 60, 86, 18, 95, 87, 28, 59, 68, 19, 91, 25, 22, 52, 86, 45, 78, 44, 72, 12, 39, 79, 77, 39, 24]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [121]:
# Your code here
sample_set_2 = {}
sample_set_2 = set(sample_list_2)

print('la lista tiene:',len(sample_list_2))
print('el set tiene:',len(sample_set_2))

la lista tiene: 80
el set tiene: 53

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [122]:
# Your code here
sample_list_3 = []
for numero in sample_list_1:
    if numero not in sample_list_2:
        sample_list_3.append(numero)
        
sample_set_3 = set(sample_list_3)

print(sample_set_3)

sample_set_32 = sample_set_1.difference(sample_set_2)

print(sample_set_32)

{7, 9, 10, 11, 16, 21, 26, 42, 50, 51, 53, 55, 62, 63, 64, 67, 69, 70, 73, 81, 84, 93, 97, 98}
{7, 9, 10, 11, 16, 21, 26, 42, 50, 51, 53, 55, 62, 63, 64, 67, 69, 70, 73, 81, 84, 93, 97, 98}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [123]:
# Your code here
sample_set_4 = sample_set_2.difference(sample_set_1)

print(sample_set_4)

{6, 8, 13, 19, 20, 25, 28, 31, 44, 47, 52, 54, 56, 65, 68, 74, 78, 79, 91, 92, 94, 95, 96, 99}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [124]:
# Your code here
sample_set_5 = sample_set_1.intersection(sample_set_2)
print(sample_set_5)

{3, 12, 14, 17, 18, 22, 24, 27, 30, 32, 33, 35, 36, 38, 39, 45, 48, 57, 59, 60, 66, 72, 77, 80, 85, 86, 87, 90, 100}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [125]:
# Your code here
print(len(sample_set_1))
print(len(sample_set_2))
print(len(sample_set_3))
print(len(sample_set_4))
print(len(sample_set_5))

53
53
24
24
29

#### Create an empty set called `set6`.

In [126]:
# Your code here
sample_set_6 = {}

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [127]:
# Your code here
sample_set_62 = {101}
sample_set_6= sample_set_3.union(sample_set_5)

sample_set_62.update(sample_set_5,sample_set_3)
print(set(sample_set_62))

#para usar update, set 6 debe tener un valor dentro. sino envia error

{3, 7, 9, 10, 11, 12, 14, 16, 17, 18, 21, 22, 24, 26, 27, 30, 32, 33, 35, 36, 38, 39, 42, 45, 48, 50, 51, 53, 55, 57, 59, 60, 62, 63, 64, 66, 67, 69, 70, 72, 73, 77, 80, 81, 84, 85, 86, 87, 90, 93, 97, 98, 100, 101}

#### Check if `set1` and `set6` are equal.

In [128]:
# Your code here
print(sample_set_1)
print(sample_set_6)

{3, 7, 9, 10, 11, 12, 14, 16, 17, 18, 21, 22, 24, 26, 27, 30, 32, 33, 35, 36, 38, 39, 42, 45, 48, 50, 51, 53, 55, 57, 59, 60, 62, 63, 64, 66, 67, 69, 70, 72, 73, 77, 80, 81, 84, 85, 86, 87, 90, 93, 97, 98, 100}
{3, 7, 9, 10, 11, 12, 14, 16, 17, 18, 21, 22, 24, 26, 27, 30, 32, 33, 35, 36, 38, 39, 42, 45, 48, 50, 51, 53, 55, 57, 59, 60, 62, 63, 64, 66, 67, 69, 70, 72, 73, 77, 80, 81, 84, 85, 86, 87, 90, 93, 97, 98, 100}

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [129]:
# Your code here
print(sample_set_1.issubset(sample_set_2))
print(sample_set_1.issubset(sample_set_3))

False
False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [130]:
# Your code here
sample_set_7= sample_set_3.union(sample_set_4)
sample_set_7= sample_set_7.union(sample_set_5)
print('SET CON VALORES SET 3, SET 4 Y SET5 \n',sample_set_7)
sample_set_7= sample_set_7.union(sample_set_1)
print('SET CON VALORES SET 1, ya no agrega queda igual \n',sample_set_7)
sample_set_7= sample_set_7.union(sample_set_2)

SET CON VALORES SET 3, SET 4 Y SET5
 {3, 6, 7, 8, 9, 10, 11, 12, 13, 14, 16, 17, 18, 19, 20, 21, 22, 24, 25, 26, 27, 28, 30, 31, 32, 33, 35, 36, 38, 39, 42, 44, 45, 47, 48, 50, 51, 52, 53, 54, 55, 56, 57, 59, 60, 62, 63, 64, 65, 66, 67, 68, 69, 70, 72, 73, 74, 77, 78, 79, 80, 81, 84, 85, 86, 87, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}
SET CON VALORES SET 1, ya no agrega queda igual
 {3, 6, 7, 8, 9, 10, 11, 12, 13, 14, 16, 17, 18, 19, 20, 21, 22, 24, 25, 26, 27, 28, 30, 31, 32, 33, 35, 36, 38, 39, 42, 44, 45, 47, 48, 50, 51, 52, 53, 54, 55, 56, 57, 59, 60, 62, 63, 64, 65, 66, 67, 68, 69, 70, 72, 73, 74, 77, 78, 79, 80, 81, 84, 85, 86, 87, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}

#### Using the `pop` method, remove the first element from `set1`.

In [131]:
# Your code here
print(sample_set_1)
sample_set_1.pop()

{3, 7, 9, 10, 11, 12, 14, 16, 17, 18, 21, 22, 24, 26, 27, 30, 32, 33, 35, 36, 38, 39, 42, 45, 48, 50, 51, 53, 55, 57, 59, 60, 62, 63, 64, 66, 67, 69, 70, 72, 73, 77, 80, 81, 84, 85, 86, 87, 90, 93, 97, 98, 100}

3

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [135]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

# Your code here
print('IMPRIMIENDO SET 1: \n',sample_set_1)

set_to_remove = set(list_to_remove)

sample_set_8 = sample_set_1.difference(set_to_remove)

print('IMPRIMIENDO SET quitando list_to_remove: \n',sample_set_8)

IMPRIMIENDO SET 1:
 {7, 9, 10, 11, 12, 14, 16, 17, 18, 21, 22, 24, 26, 27, 30, 32, 33, 35, 36, 38, 39, 42, 45, 48, 50, 51, 53, 55, 57, 59, 60, 62, 63, 64, 66, 67, 69, 70, 72, 73, 77, 80, 81, 84, 85, 86, 87, 90, 93, 97, 98, 100}
IMPRIMIENDO SET quitando list_to_remove:
 {7, 10, 12, 14, 16, 17, 18, 22, 24, 26, 27, 30, 32, 33, 35, 36, 38, 42, 45, 48, 50, 53, 55, 57, 60, 62, 63, 64, 66, 67, 70, 72, 73, 77, 80, 84, 85, 86, 87, 90, 93, 97, 98, 100}