## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
sample_list_1 = random.sample(range(101), 80)

print(sample_list_1)

[71, 2, 1, 3, 84, 78, 51, 57, 65, 100, 28, 44, 41, 50, 4, 67, 56, 37, 19, 48, 49, 53, 83, 82, 92, 91, 63, 98, 47, 64, 32, 86, 29, 70, 52, 95, 66, 75, 42, 96, 79, 31, 80, 6, 97, 73, 7, 62, 72, 34, 24, 54, 33, 60, 27, 17, 39, 69, 25, 14, 11, 90, 81, 26, 45, 18, 61, 38, 74, 93, 40, 21, 22, 12, 0, 15, 89, 58, 68, 8]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
set1 = set(sample_list_1)

print(type(set1))
len(set1)

<class 'set'>

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
sample_list_2  = []

for n in random.sample(range(101), 80):
    sample_list_2.append(n)

print(sample_list_2)

[93, 79, 48, 88, 92, 43, 32, 15, 99, 7, 14, 80, 49, 95, 4, 83, 35, 94, 5, 96, 44, 73, 12, 56, 98, 0, 78, 11, 89, 41, 28, 74, 18, 100, 37, 19, 46, 21, 29, 87, 23, 70, 34, 54, 9, 30, 8, 36, 42, 84, 17, 47, 6, 3, 65, 51, 2, 91, 85, 26, 22, 50, 60, 76, 90, 31, 82, 71, 66, 59, 64, 67, 81, 33, 39, 1, 55, 86, 10, 13]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
set2 = set(sample_list_2)

print(type(set2))
len(set2)

<class 'set'>

80

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
set3 = set()

for number in set1:
    if number not in set2:
        set3.add(number)

print(set3)

{97, 68, 69, 38, 40, 72, 75, 45, 63, 52, 53, 24, 25, 58, 27, 61, 62, 57}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
set4 = set()

for number in set2:
    if number not in set1:
        set4.add(number)

print(set4)

{35, 36, 5, 99, 88, 9, 10, 43, 76, 13, 46, 55, 85, 23, 87, 94, 59, 30}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
set5 = set()

for number in set1:
    if number in set2:
        set5.add(number)

print(set5)

{0, 1, 2, 3, 4, 6, 7, 8, 11, 12, 14, 15, 17, 18, 19, 21, 22, 26, 28, 29, 31, 32, 33, 34, 37, 39, 41, 42, 44, 47, 48, 49, 50, 51, 54, 56, 60, 64, 65, 66, 67, 70, 71, 73, 74, 78, 79, 80, 81, 82, 83, 84, 86, 89, 90, 91, 92, 93, 95, 96, 98, 100}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [9]:
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

# Si se agregan los valores de set 3 o set 4 a set 5 dan como resultado el total de set 1 y set 2.

80
80
18
18
62

#### Create an empty set called `set6`.

In [10]:
set6 = set()

type(set6)

set

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [11]:
set6.update(set3)

set6.update(set5)

print(set6)

{0, 1, 2, 3, 4, 6, 7, 8, 11, 12, 14, 15, 17, 18, 19, 21, 22, 24, 25, 26, 27, 28, 29, 31, 32, 33, 34, 37, 38, 39, 40, 41, 42, 44, 45, 47, 48, 49, 50, 51, 52, 53, 54, 56, 57, 58, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 78, 79, 80, 81, 82, 83, 84, 86, 89, 90, 91, 92, 93, 95, 96, 97, 98, 100}

#### Check if `set1` and `set6` are equal.

In [12]:
if set1 == set6:
    print('set1 y set6 son iguales')

set1 y set6 son iguales

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [13]:
# El set 2 esta en set 1?

print(set2.issubset(set1))

# El set 3 esta en set 1?

print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [14]:
aggregate1 = set3.union(set4, set5) 

aggregate2 = set1.union(set2)

if aggregate1 == aggregate2:
    print("El resultado de ambas uniones son iguales")

El resultado de ambas uniones son iguales

#### Using the `pop` method, remove the first element from `set1`.

In [15]:
set1.pop()

0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [16]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for element in list_to_remove:
    if element in set1:
        set1.remove(element)
        
print(set1)

{2, 3, 4, 6, 7, 8, 12, 14, 15, 17, 18, 22, 24, 25, 26, 27, 28, 32, 33, 34, 37, 38, 40, 42, 44, 45, 47, 48, 50, 52, 53, 54, 56, 57, 58, 60, 62, 63, 64, 65, 66, 67, 68, 70, 72, 73, 74, 75, 78, 80, 82, 83, 84, 86, 90, 92, 93, 95, 96, 97, 98, 100}